.app-sidebar {
  position: fixed;
  left: -100px;
  top: 60px;
  width: 140px;
  background: $primary;
  box-shadow: $box-shadow-sm;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: left .4s ease-in-out;
  overflow: hidden;

  &:hover {
    left: 0px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding-left: 10px;
    cursor: pointer;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    text-decoration: none;
    opacity: .6;
    transition: all .4s;
    color: $white;

    &:hover {
      opacity: 1;
      color: $white;
    }
  }

  &__icon {
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
    text-align: center;
  }

}